<%if @cart%>
<p class="navbar-text navbar-right">
  <%if @cart.empty?%>
    your cart is empty
  <%else%>
    <%= link_to "You have #{pluralize @cart.items.length, "items"}", cart_path %>
  <%end%>
</p>
<%end%>